@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
:root {
    --main-bg: rgba(28, 28, 40, 0.9);
    --second-bg: rgba(35, 35, 49, 0.4);
    --text-color: #ffffff;
    --main-color: #2495ffe7;
    --navbar-color: rgba(28, 28, 40, 0.2);
    --searchbar-color: #2d2d42;
    --searchbar-color-hover: #3f3f5a;
    --drawer-width: 8rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--main-bg);
    height: 100%;
    color: var(--text-color);
}
