@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
:root {
    --main-bg: #1c1c28;
    --second-bg: #303035;
    --text-color: #ffffff;
    --main-color: #2496ff;
    --searchbar-color: #2d2d42;
    --searchbar-color-hover: #3f3f5a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--main-bg);
    height: 100vh;
    color: var(--text-color);
}
